<% content_for :header do %>
  <title>地図表示</title>
  <link rel="stylesheet" href="/css/leaflet-0.6.4.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/leaflet-0.6.4.ie.css" />
  <![endif]-->
  <script src="/js/leaflet-0.6.4.js"></script>
  <style type="text/css">
    #map {
      margin-top: 10px;
      width: 800px;
      height: 600px;
    }
  </style>
  <script type="text/javascript">
    $(function() {
      /**
       * Leafletで地図表示
       */
      var map = L.map('map');

      // 地理院地図の利用
      /* L.tileLayer('http://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
         attribution: "&copy; <a href='http://portal.cyberjapan.jp/help/termsofuse.html' target='_blank'>国土地理院</a>",
      }).addTo(map);
      */

      // Open Street Mapの利用
      L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
         attribution: "&copy; <a href='http://www.openstreetmap.org/copyright' target='_blank'>Open Street Map</a> contributors",
      }).addTo(map);

      // 地図表示の設定．位置，ズーム
      map.setView([35.6, 139.7], 10);

      // ポイント表示のアイコン設定
      var myIcon = L.icon({
        iconUrl: '/css/images/marker-icon.png',
        iconRetinaUrl: '/css/images/marker-icon-2x.png',
        iconSize: [25, 41],
        popupAnchor: [0, -20],
        shadowUrl: '/css/images/marker-shadow.png',
        shadowSize: [41, 41],
      });

      /*
       * JSONの取得のためにサーバへ問い合わせ
       *
       * クロスドメインを気にしないですむように，JSでは対象の緯度経度をパラメータで渡して
       * Ruby側でSPARQLクエリを投げるようにしている．
       * パラメータの順番: '/map/左上の緯度/左上の経度/右下の緯度/右下の経度'
       *
       * SPARQL Endpointからの結果のJSONを直接利用しているので，
       * CORS対応しているSPARQL Endpointへならクエリを含んだURLを直接指定しても動くはず．
       */
      $.getJSON('/map/35.2/139/35.8/140', function(data){
        for(var b in data.results.bindings) {
          var binding = data.results.bindings[b];

          var marker = L.marker([binding["lat"]["value"], binding["long"]["value"]],
                                { icon: myIcon, title: binding["label"]["value"] });

          marker.bindPopup("<a href='" + binding["s"]["value"] + "'>" +
                           binding["label"]["value"] + "</a>").openPopup();
          marker.addTo(map);
        }
      });
    });
  </script>
<% end %>

<h1>地図表示</h1>

<p>サービス非依存の地図ライブラリである<a href="http://leafletjs.com">Leaflet</a>を使用して，OpenStreetMap上にSPARQLで検索したポイントデータを表示する．
</p>

<h2>app.rb内で使用しているSPARQLクエリ</h2>
<pre><code>PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX geo: &lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;

SELECT *
WHERE {
  ?s rdfs:label ?label ;
    geo:lat ?lat ;
    geo:long ?long .
  FILTER (?lat &gt; "#{params[:lat1]}"^^xsd:float &&
          ?lat &lt; "#{params[:lat2]}"^^xsd:float &&
          ?long &gt; "#{params[:long1]}"^^xsd:float &&
          ?long &lt; "#{params[:long2]}"^^xsd:float)
}
LIMIT 100
</code></pre>

<div id="map"></div>
