<% content_for :header do %>
  <title>DBpedia Japanese データ表示</title>
<% end %>

<h1>DBpedia Japanese データ表示</h1>

<p>渡された単語をSPARQLで問い合わせてそれについてのデータを取得．</p>

<h2>app.rb内でのSPARQLクエリ</h2>
<pre><code>PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;

SELECT *
WHERE {
  ?s rdfs:label "#{params['word']}"@ja ;
    ?p ?o .
}
LIMIT 100
</code></pre>


<form role="form" class="form-inline" action="/word" method="GET">
  <div class="form-group">
    <label class="sr-only" for="word">Word</label>
    <input type="text" class="form-control" name="word" id="word" placeholder="東京都">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <thead>
    <tr><th>p</th><th>o</th></tr>
  </thead>
  <tbody>
<% @results.each do |solution| %>
    <tr><td><%= solution[:p] %></td><td><%= solution[:o] %></td></tr>
<% end %>
  </tbody>
</table>
